// Get in touch
.Getintouch {
    & .mailLink {
        color:$black;
    }
    & .Link {
        background-color: $green;
        color:$white;
        @include border-radius(5px);
        padding:5px 15px;
        margin:0 10px;

        &:hover {
            background-color: $lightblue;
            transition: 0.3s ease-in all;
        }
    }

    & h1 {
        color: $black;       
    }

    & address {
        font-style:normal;
    }
}